.table-edit{
    width: 80% ;
    border-color: #BCDC53;
}

.formshow{
    width: 20% ;
    float: right;
}

.titleshowchild{
    position: absolute ;
    left: 42%;
}

.buttoneditshowchild{
    text-decoration: none;
    color: #ffffff;
}

.formscs{
    width: 20% ;
    float: right;
}

.buttoneditscs{
    text-decoration: none ;
    color: #ffffff
}
.category{
    color: white;
    text-align: center;
    font-size: 1.5em;
    background-color: red
}