@font-face {
    font-family: "CurvedFont";
    src: url("Font/Poppins-Regular.ttf");
}

html, body {
    height: 100%;
}

body .bodyglob {
    background-color: white;
    margin: 0px;
    overflow: hidden;
}

.loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}


@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.canvas {
    z-index: -9999;
}

.GUI {
    text-align: center;
    color: black;
    z-index: 2;
}

.closeButton {
    cursor: pointer;
    color: black;

    font-weight: bold;
    font-size: 1.7em;

    position: absolute;
    top: -15px;
    right: 20px;
}

#loading {
    position: absolute;
    z-index: 1;
    color: white;

    left: 50%;
    top: 2%;

    margin: -0px 0 0 -100px;

    font-size: 1.7em;
}

.testall {
    color: red;
}

.disconnect-cmd {
    height: 32px;
    position: absolute;
    right: 5px;
    font-size: 21px;
    padding: 0;
    background-color: #8a0000;
    top: 94%;
    width: 150px;
    bottom: 50px;
}
.logo_edm{
    position: absolute;
    left: 5px;
    bottom: 5px;
}

.default {
    cursor: default;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-top: 120px;
    background-color: #2A61BC;

}

li:active {
    background-color: white;
    color: #2A61BC;
}

li {
    float: left;
    transition: 0.4s;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #75A3F0;;
    color: white;
}


.imghome1 {
    height: 600px;

}

.imghome2 {
    padding-right: 20px;
    height: 300px;
}

.imghome3 {

    height: 150px;

}

.body {
    background-color: white;
    font-family: 'Open Sans', sans-serif;

}
.menuhomepage{
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgshop {
    height: 300px;
    border: solid;
    border-color: black;
}


.imgforum {
    height: 300px;
    border: solid;
    border-color: black;
}

.labelup {

    text-align: center;
    cursor: default;

}


.imgup {
    width: 200px;
    padding-left: 22px;

}

.imglobe {
    height: 50px;


}

.imgchoix {

    background-color: #222222;
}

.divtable {
    width: 100%;
    text-align: center;


}

::-webkit-scrollbar {
    width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #2A61BC;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #264a94;
}

.languagehome {
    float: right;
    transition: 0.4s;
    color: whitesmoke;
    padding-top: 15px;
    padding-right: 15px;
}
textarea {
    resize: none;
}

.zoom{
    position: absolute;
    top: 75px;
    left: 5px;
}
.help-text{
    color: white;
    font-size: 17px;
    position: absolute;
    left: 48px;
    top: 21px;
}
.help-tip{
    margin-top: 8px;
    margin-right: 5px;
    top: 0px;
    right: 400px;
    text-align: center;
    background-color: #BCDC53;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    font-size: 14px;
    line-height: 26px;
    cursor: default;
    
}

.help-tip:before{
    content:'?';
    font-weight: bold;
    color: #000000;
}

.help-tip:hover p{
    display:block;
    transform-origin: 100% 0%;

    -webkit-animation: fadeIn 0.3s ease-in-out;
    animation: fadeIn 0.3s ease-in-out;

}

.help-tip p{    /* The tooltip */
    display: none;
    text-align: left;
    background-color: #BCDC53;
    padding: 20px;
    width: 280px;
    margin-top: 8px;
    margin-right: 5px;
    border-radius: 3px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    right: -4px;
    color: #000000;
    font-size: 13px;
    line-height: 1.6;
}


.help-tip p:after{ /* Prevents the tooltip from being hidden */
    width:100%;
    height:40px;
    content:'';
    position: absolute;
    top:-40px;
    left:0;
}

/* CSS animation */

@-webkit-keyframes fadeIn {
    0% {
        opacity:0;
        transform: scale(0.6);
    }

    100% {
        opacity:100%;
        transform: scale(1);
    }
}

@keyframes fadeIn {
    0% { opacity:0; }
    100% { opacity:100%; }
}