@font-face {
    font-family: "CurvedFont";
    src: url("Font/Poppins-Regular.ttf");
}

html, body {
    height: 100%;
}

body {
    background-color: white;
    margin: 0px;
    overflow: hidden;
}

.loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}


@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.canvas {
    z-index: -9999;
}

.GUI {
    text-align: center;
    color: black;
    z-index: 2;
}

.closeButton {
    cursor: pointer;
    color: black;

    font-weight: bold;
    font-size: 1.7em;

    position: absolute;
    top: -15px;
    right: 20px;
}

#loading {
    position: absolute;
    z-index: 1;
    color: white;

    left: 50%;
    top: 2%;

    margin: -0px 0 0 -100px;

    font-size: 1.7em;
}

.testall {
    color: red;
}

.disconnect-cmd {
    height: 35px;
    position: absolute;
    left: 0;
    font-size: 21px;
    padding: 0;
    background-color: #8a0000;
    top: 94%;
    width: 150px;
    bottom: 45px;
}

.default {
    cursor: default;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-top: 120px;
    background-color: #2A61BC;

}

li:active {
    background-color: white;
    color: #2A61BC;
}

li {
    float: left;
    transition: 0.4s;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #75A3F0;;
    color: white;
}


.imghome1 {
    padding-right: 20px;
    height: 300px;
}

.imghome2 {
    padding-right: 20px;
    height: 300px;
}

.imghome3 {

    height: 300px;

}

.body {
    background-color: #F6F6F6;
    font-family: 'Open Sans', sans-serif;
}

.imgshop {
    height: 300px;
    border: solid;
    border-color: black;
}


.imgforum {
    height: 300px;
    border: solid;
    border-color: black;
}

.labelup {

    text-align: center;

}


.imgup {
    width: 12em;
    padding-bottom: 50px;
    padding-left: 22px;
    position: absolute;
    }
.imglobe{
    height: 50px;
    padding: 25px;
}